@TagName("nav-menu")
<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>Blazor Show & Tell :D</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li>
                    <a href='~/' class='active'>
                        <span class='glyphicon glyphicon-home'></span> 1 - Home
                    </a>
                </li>
                <li>
                    <a href='~/Counter'>
                        <span class='glyphicon glyphicon-education'></span> 2 - Counter
                    </a>
                </li>
                <li>
                    <a href='~/FetchData'>
                        <span class='glyphicon glyphicon-th-list'></span> 3 - Fetch data
                    </a>
                </li>
                <li>
                    <a href='~/TodoList'>
                        <span class='glyphicon glyphicon-th-list'></span> Todo List
                    </a>
                </li>
                <li>
                    <a href='~/TodoList2'>
                        <span class='glyphicon glyphicon-th-list'></span> Todo List #2
                    </a>
                </li>
                <li>
                    <a href='~/TodoList3'>
                        <span class='glyphicon glyphicon-th-list'></span> Todo List #3
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
